/* Global CSS */
:root {
	font-family: 'Roboto Flex', sans-serif;
	--md-ref-typeface-plain: 'Roboto Flex', sans-serif;
	--md-icon-font: 'Material Symbols Rounded';
	color: var(--md-sys-color-on-surface);
	--md-elevation-level: 1;
	--md-icon-button-icon-color: var(--md-sys-color-primary);
	--md-icon-button-hover-icon-color: var(--md-sys-color-primary);
	--md-icon-button-focus-icon-color: var(--md-sys-color-primary);
	--md-icon-button-pressed-icon-color: var(--md-sys-color-primary);
}

.md-headline-small {
	font-weight: var(--md-sys-typescale-headline-small-font-weight);
	font-size: var(--md-sys-typescale-headline-small-font-size);
	line-height: var(--md-sys-typescale-headline-small-line-height);
	letter-spacing: var(--md-sys-typescale-headline-small-letter-spacing);
	margin: 0 0 10px 0;
}

.md-title-medium {
	font-style: var(--md-sys-typescale-title-medium-font-family-style);
	font-weight: var(--md-sys-typescale-title-medium-font-weight);
	font-size: var(--md-sys-typescale-title-medium-font-size);
	line-height: var(--md-sys-typescale-title-medium-line-height);
	letter-spacing: var(--md-sys-typescale-title-medium-letter-spacing);
}

.md-title-small {
	font-style: var(--md-sys-typescale-title-small-font-family-style);
	font-weight: var(--md-sys-typescale-title-small-font-weight);
	font-size: var(--md-sys-typescale-title-small-font-size);
	line-height: var(--md-sys-typescale-title-small-line-height);
	letter-spacing: var(--md-sys-typescale-title-small-letter-spacing);
}

.md-body-large {
	font-weight: var(--md-sys-typescale-body-large-font-weight);
	font-size: var(--md-sys-typescale-body-large-font-size);
	line-height: var(--md-sys-typescale-body-large-line-height);
	letter-spacing: var(--md-sys-typescale-body-large-letter-spacing);
}

.md-body-medium {
	font-weight: var(--md-sys-typescale-body-medium-font-weight);
	font-size: var(--md-sys-typescale-body-medium-font-size);
	line-height: var(--md-sys-typescale-body-medium-line-height);
	letter-spacing: var(--md-sys-typescale-body-medium-letter-spacing);
}

.md-label-medium {
	font-style: var(--md-sys-typescale-label-medium-font-family-style);
	font-weight: var(--md-sys-typescale-label-medium-font-weight);
	font-size: var(--md-sys-typescale-label-medium-font-size);
	line-height: var(--md-sys-typescale-label-medium-line-height);
	letter-spacing: var(--md-sys-typescale-label-medium-letter-spacing);
}

body {
	background-color: var(--md-sys-color-background);
	margin: 0;
}

[role="tabpanel"] {
	padding-top: 182px;
}

.flex {
	display: flex;
}

.mdc-typography--headline5 {
	margin: 0 0 10px 0;
}

h4 {
	margin: 10px 0;
}

h5 {
	margin: 0;
}

.mdc-card-content md-divider {
	margin: 8px 0;
}

.divider-right {
	border-right: 1px solid var(--md-sys-color-outline-variant);
}

a {
	color: var(--md-sys-color-primary);
	text-decoration-line: none;
}

.mdc-card {
	/* To use material component elevate instead */
	box-shadow: none;
	border-radius: 14px;
	background-color: var(--md-sys-color-surface);
}

.mdc-card-content {
	padding: 40px;
}

.card-media {
	width: 100%;
	border-radius: 50%;
}

@media (max-width: 599px) {
	.mdc-layout-grid {
		max-width: 600px;
	}
}

@media (min-width: 600px) {
	.mdc-layout-grid {
		max-width: 700px;
	}

	#gamePanel .mdc-layout-grid__inner {
		width: 100%;
	}

	#welcomeCard .mdc-card__media {
		width: 93%;
	}

	.divider-left {
		border-left: 1px solid var(--md-sys-color-outline-variant);
	}
}

@media (min-width: 840px) {
	.mdc-layout-grid {
		max-width: 800px;
	}

	#welcomeCard .mdc-card__media {
		width: 97%;
	}
}

/* Header */
.mdc-top-app-bar__title {
	margin-bottom: 30px;
}

.mdc-switch-label {
	padding-right: 5px;
	padding-top: 5px;
}

label[for="darkModeToggler"] md-icon {
	font-size: 40px;
	width: 40px;
	height: 40px;
}

#tabBarContainer {
	background-color: var(--md-sys-color-surface);
}

#tabBar {
	max-width: 400px;
}

.mdc-tab__text-label {
	font-size: 0.875rem;
	font-weight: 500;
}

.mdc-tab__content {
	--mdc-theme-primary: #004ba0;
}

/* Home Tab */
.mdc-card__media {
	display: flex;
	margin: 16px;
}

#welcomeCard .mdc-card__media {
	max-height: 240px;
}

#aboutCard .mdc-card__media {
	max-width: 200px;
}

#footer .mdc-card__media {
	max-width: 64px;
}

.mdc-card__actions {
	justify-content: flex-end;
}

#stuffCard div.flex,
#footer .mdc-layout-grid__inner,
#footer .mdc-layout-grid__cell {
	align-items: center;
}

#stuffCard md-icon {
	color: var(--md-sys-color-on-surface);
	font-size: 64px;
	width: 64px;
	height: 64px;
	margin-right: 25px;
}

#footer md-icon {
	font-size: 64px;
	width: 116px;
	height: 64px;
	margin: 16px;
}

/* RPS Tab */
.rps-card__content {
	justify-content: center;
	align-items: center;
}

#rpsCard .mdc-typography--headline5 {
	padding-top: 7px
}

#gameIcons md-icon-button {
	--md-icon-button-icon-size: 95px;
	height: 120px;
	width: 120px;
	margin: 2px;
}

/* TOC Tab */
.toc-heading {
	font-weight: 700;
	margin: 0;
	line-height: 2rem;
	text-transform: uppercase;
}

.toc {
	border-left: 4px solid var(--md-sys-color-primary);
	margin: 24px;
	padding-left: 8px;
}

.toc h5 {
	color: var(--md-sys-color-primary);
}

/* FABs */
.first-fab {
	position: fixed;
	right: 21px;
	bottom: 10px;
}

.second-fab {
	position: fixed;
	right: 21px;
	bottom: 80px;
}

.hidden {
	display: none !important;
}