md-card md-card-content {
	margin: 40px;
	flex-grow: 1;
	padding: 0;
	color: inherit;
	width: calc(100% - 80px)
}
md-card-content h4 {
	margin-top: 0;
	margin-bottom: 20px
}
a {
	text-decoration: none
}
.fab-icon {
	line-height: 55px !important
}